body{
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .content, .footer-container{
    background-color: #1F2937;
}

.header{
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 0 0 auto;
    padding: 0% 5%;
}

.header-title{
    font-size: 24px;
    font-weight: 700;
    justify-self: flex-start;
    align-self: flex-start;
    flex: 0 0 auto;
}


.content{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    flex-grow: 3;
}

.topcontainer{
    display: flex;
    align-items: flex-start;
    color: #E5E7EB;
    font-size: 14px;
    padding: 2% 5%;
}

.intro-text{
    display: flex;
    font-weight: bold;
    font-size: 40px;
    flex-wrap: wrap;
    width: 80%;
    flex: 1;
    flex-direction: column;
    padding: 2px;
}

.intro-text > button{
    border: none;
}

.head-img{
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 200px;
    margin: 25px;
    flex-wrap: wrap;
    border-radius: 15px;
    flex: 3;
}


.header-blurb{
    font-weight: normal;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    flex-direction: column;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.link{
    padding-left: 5%;
    padding-right: 5%;
}

.links{
    color: #E5E7EB;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 1;
    padding-top: 5px;
}

.container{
    color: #1F2937;
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    padding: 15px;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 48px;
}

.container2-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
}

.container2{
    background-color: white;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-grow: 5;
}

.quote-container{
    background-color: #E5E7EB;
    font-family: "Roboto-light", sans-serif;
    font-style: italic;
    display: flex;
    padding: 15px 40px 15px 40px;
    flex-grow: 4;
    flex-direction: column;
}

.quote{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
    padding-right: 20px;
}

.container3{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    padding: 15px;
}

.action{
    color: #F9FAF8;
    background-color: #3882F6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 10%;
    width: 60%;
    margin: 5px;
    padding: 20px;
    border-radius: 9px;
    row-gap: 10px;
    column-gap: 2em;
    flex: 0 2 auto;
}

.action-title{
    font-weight: 600;
    display: flex;
    padding: 4px;
}

.action-blurb{
    font-size: 14px;
    display: flex;
    padding: 4px;
}

.action > .action-blurb, button{
    display: flex;
    flex-direction: row;
}

.action > button{
    border-color: white;
    border: 1px solid;
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    margin-left: auto;
}

button{
    display: flex;
    color: #F9FAF8;
    background-color: #3882F6;
    justify-self: flex-start;
    border-radius: 5px;
    padding: 5px 10px;
    margin: auto 0;
    width: 70px;
    text-align: center;
}

.footer{
    color: #F9FAF8;
    height: 50px;
    display: flex;
    flex: 0 0 auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.footer-container{
    display: flex;
    flex-direction: column-reverse;
    flex: 0 0 auto;
    flex-grow: 1;
    padding: 0% 10%;
}

.square-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 2%;
    flex-grow: 3;
    padding: 2% 10%;
}

.square > img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 3px solid;
    border-radius: 15px;
    border-color:  #3882F6;
    width: 100px;
    height: 100px;
}

.square{
    align-self: center;
    font-size: 10px;
    justify-content: center;
    padding: 2px;
}

.attributed-to{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    padding-right: 40px;
    padding-left: 20px;

}